.contener__section {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    box-shadow: 10px;
}

.contener__section--span {
    font-weight: bold;
}

.contener__first {
    border: 1px solid rgb(238, 236, 236);
    background-color: white;
}

.contener__second {
    border: 1px solid rgb(238, 236, 236);
    background-color: white;
    margin-top: 15px;
}

.contener__form {
    padding: 5px;
    border: 1px solid white;
}

.contener__button {
    background-color: teal;
    color: white;
    padding: 5px;
}

.contener__button:hover {
    background-color: rgb(6, 167, 167);
}

.contener__form--input {
    max-width: 100%;
    cursor: pointer;
}